<form [formGroup]="passwordForm" (ngSubmit)='submitForm(passwordForm)' novalidate>
  <div class="form-group">
    <label>Old Password</label>
    <input formControlName="oldPassword" type="password" class="form-control">
    <div *ngIf="f_oldPassword.errors && f_oldPassword.touched">
      <div *ngIf="f_oldPassword.errors.required" class="alert alert-danger">
        Old Password is required
      </div>
      <div *ngIf="f_oldPassword.errors.validPassword" class="alert alert-danger">
        Password Does Not Match Current Password
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>New Password</label>
    <input formControlName="newPassword" type="password" class="form-control">
    <div *ngIf="f_newPassword.errors && f_newPassword.touched">
      <div *ngIf="f_newPassword.errors.required" class="alert alert-danger">
        New Password is required
      </div>
      <div *ngIf="f_newPassword.errors.validNewPassword" class="alert alert-danger">
        Password must be at least 8 in length and contain at least 1 special character.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input formControlName="confirmPassword" type="password" class="form-control">
    <div *ngIf="f_confirmPassword.errors && f_confirmPassword.touched">
      <div *ngIf="f_confirmPassword.errors.required" class="alert alert-danger">
        Confirm Password is required
      </div>
      <div *ngIf="f_confirmPassword.errors.validConfirmPassword" class="alert alert-danger">
        Confirm Password Should Match New Password
      </div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="f_oldPassword.value === '' || f_newPassword.value === '' || f_confirmPassword.value === '' || passwordForm.controls.oldPassword.invalid"
      class="btn btn-primary">Change Password</button>
  </div>
    <div *ngIf = "passwordForm.pending">
      Validating Old Password
      </div>
</form>