<form #myForm="ngForm" name="myForm" (ngSubmit)="formSubmit(myForm)" novalidate>
  <div class="form-group">
    <label>Course Name</label>
    <input name="course" required minlength="5" ngModel #course="ngModel" type="text" class="form-control" />
    <div *ngIf="course.errors && course.touched">
      <div *ngIf="course.errors.required" class="alert alert-danger">Course Name is Required</div>
      <div *ngIf="course.errors.minlength" class="alert alert-danger">Course Name Must be at least {{course.errors.minlength.requiredLength}} in length</div>
    </div>
  </div>
  <div class="form-group">
    <label>Category</label>
    <select required class="form-control" name="category" ngModel #category="ngModel">
    <option value= {{category.id}} *ngFor = "let category of categories">{{category.name}}</option>
  </select>
    <div *ngIf="category.errors && category.touched">
      <div *ngIf="category.errors.required" class="alert alert-danger">Category is Required</div>
    </div>
  </div>
  <div class="form-group">
    <input required type="checkbox" ngModel name="guarantee" #guarantee="ngModel" /> 30-day money-back guarantee
    <div *ngIf="guarantee.errors && guarantee.touched">
      <div *ngIf="guarantee.errors.required" class="alert alert-danger">Guarantee is Required</div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Create</button>
  </div>
  <div>
    {{myForm.value | json}}
  </div>
</form>